/* === Base Styles ================================================ */
* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font: 1em/1.5 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.6;
}

header {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

footer {
  padding-left: 20%;
  color: rgba(211, 216, 226, 0.3);
}

 /* === Pseudo classes ================================================ */
 a:link {
   color: rgb(34, 117, 68);
   text-decoration: none;
   font-weight: bold;
 }

 a:hover {
   color: rgb(39, 196, 103);
 }

 a:visited {
   color: rgb(34, 117, 68);
   text-decoration: none;
   font-weight: bold;
 }

/* a:active {
  color: #666666;
  text-decoration: none;
  font-weight: bold;
} */

 /* === Main styles ==================================================== */

/* Navigation bar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgba(3, 3, 0, 0.9);
  padding-right: 5em;
}

/* Picture :3*/
.main-header {
  padding-top:  20px;
  height: 700px;
  background: url("../img/Jasu.jpg") no-repeat center;
  background-size: cover;
  box-shadow: inset -2px -57px 57px 7px rgba(0,0,0,1);
}

.navigation {
  text-align: center;
  float: right;
  list-style-type: none;
}

.page-title {
  margin-left: 20px;
  float: left;
  /* color: rgb(193, 156, 252); */
  /* color: rgba(251, 216, 255, 0.5); */
  color: rgb(34, 117, 68);
  font-family: 'Roboto Slab', serif;
}

.content {
  color: rgba(211, 216, 226, 0.5);
  padding: 30px 20%;
}

.page-title h1,
.page-title h2,
.navigation li {
  display: inline-block;
}

.aboutme {
    margin: 0 0 20px 0;
}

.education,
.workx {
  padding-right: 2em;
}

.education {
  float: left;
  width: 50%;
  display: inline-block;
}

.workx {
  float: right;
  width: 50%;
  display: inline-block;
}

.studyplace,
.workplace {
  padding-bottom: 5px;
  line-height: 96%;
}

.school,
.title {
  text-transform: uppercase;
}

.title,
.school {
  margin: 6px 0;
  color: rgba(211, 216, 226, 0.7);
}

.introduction,
.graduatedas,
.summary,
.jobs {
  margin: 5px 0;
}

.bdk-pic { 
  max-width:25%;
  height:auto;
}
/*=== More Specific Styles ============================================*/

.navigation li {
  margin-left: 2em;
  border: 1px solid rgba(34, 117, 68, 0.3);
  border-radius: 5px;
  padding: 1px 4px;
  font-family: 'Quattrocento Sans', sans-serif;
}

.page-title h2 {
  margin-left: 20px;
  font-weight: lighter;
}

.some {
  width: 38px;
  height: 38px;
}

/*=== Float clearfix ===============*/
.group:after {
  content: "";
  display: table;
  clear: both;
}

 /*=== Media Queries ==================================================*/
 /*For tablets: */
 @media (max-width: 900px) {
   .page-title h1,
   .page-title h2 {
     display: block;
     line-height: 90%;
   }

   .page-title h1 {
      margin-top: 6px;
   }

   .page-title h2 {
      margin-left: 0;
   }

   .main-header {
     height: 500px;
   }

   .education,
   .workx {
     float: none;
     width: 100%;
   }
 }


/*For cellphones:*/
 @media (max-width: 700px) {
   .main-header {
     padding-top: 0;
     height: 400px;
   }

   .page-title {
     float: none;
     margin-left: 0;
   }

   h1 {
     text-align: center;
   }

   h2 {
     text-align: center;
   }

   .navbar {
     position: static;
     top: 0;
     padding-right: 0;
   }

    .navigation {
      padding-right: 25%;
    }

   .navigation li {
     display: inline-block;
     margin-left: 0.5em;
     float: none;
   }

   .content {
     padding: 10px 10%;
   }

   .education,
   .workx {
     text-align: left;
     padding-right: 0;
   }

   /* .studyplace,
   .workplace {
     line-height: 94%;
   } */
 }
